.todo-main__todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mobile-padding);
  border-bottom: .5px solid var(--light-disabled-color);
}

.todo-main__todo-list li span {
  width: 100%;
  margin-right: 12px;
}

.todo-item__icon {
  width: 25px;
  height: 25px;
  background-color: var(--dark-todo-icon-color);
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.todo-item__icon--completed {
  background-color: white;
  color: var(--button-color);
  font-size: 26px;
}

.todo-item__icon--completed svg {
  position: relative;
  transform: translateY(-2px);
}

.todo-item__icon--completed+span {
  text-decoration: line-through;
  color: var(--light-disabled-color);
}

.todo-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  position: relative;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-disabled-color);
}

.editForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}