main{
  position: relative;
  background-color: var(--dark-bg);
  height: 74%;
  border-radius: 8px 8px 0 0;
  max-width: 700px;
  margin: 0 auto;
}

/* TO DO INPUT */
.todo-input-container::before{
  content: '';
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 1, 1, .63);
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.todo-input{
  position: fixed;
  width: 100vw;
  max-width: 700px;
  padding: var(--mobile-padding);
  border-radius: 4px;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
.todo-input input{
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 4px;
  margin-right: 12px;
  color: var(--light-text-color);
}
.todo-input button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* MAIN HEADER */
.todo-main__header{
  display: flex;
  justify-content: space-between;
  padding: var(--mobile-padding);
  border-bottom: 1px solid var(--light-disabled-color);
}
.todo-main__header span{
  color: var(--light-disabled-color);
  margin-right: 24px;
}
.todo-main__header button{
  text-decoration: none;
  color: var(--light-disabled-color);
  text-align: right;
  background-color: transparent;
  border: none;
  padding: 0;
}

/* TO DO LIST */
.todo-main__todo-list{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 75%;
  overflow-y: scroll;
  padding-bottom: 60px;
}
.todo-main__todo-list::-webkit-scrollbar {
  background-color: transparent;
}
.todo-main__todo-list::-webkit-scrollbar-thumb{
  background-color: var(--border-button-color);
  border-radius: 8px;
}
.todo-main__todo-list li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mobile-padding);
  border-bottom: .5px solid var(--light-disabled-color);
}
.todo-main__todo-list li span{
  width: 100%;
  margin-right: 12px;
}
.todo-item__icon{
  width: 25px;
  height: 25px;
  background-color: var(--dark-todo-icon-color);
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
  border: none;
  padding: 0;
}
.todo-item__icon--completed img{
  width: 100%;
}
.todo-item__icon--completed + span{
  text-decoration:line-through;
  color: var(--light-disabled-color);
}
.delete-todo-btn{
  background-color: transparent;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  position: relative;
  right: 0;
  cursor: pointer;
}
.delete-todo-btn img{
  width: 100%;
}

/* ADD TODO BUTTON */
.addtodo-btn{
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  font-size: 24px;
  border-radius: 50%;
  border: 3px solid var(--border-button-color);
  background-color: var(--button-color);
  color: white;
  box-shadow: 0px 0px 50px -18px rgba(0,0,0,0.75);
  cursor: pointer;
}

@media (min-width: 1300px) {
  .todo-main__todo-list{
    height: 88%;
  }
  .addtodo-btn{
    display: none;
  }
  main .todo-input-container{
    display: block;
    position: absolute;
    top: -80px;
  }
  .todo-input-container::before{
    content: none;
  }
  .todo-input{
    position: relative;
  }
}