header{
  height: 26%;
  min-height: 160px;
  padding: var(--mobile-padding);
  background: linear-gradient(180deg, rgba(7, 7, 7, 0.138) 0%, transparent 100%)
}
header h3{
  font-weight: 500;
}

header span{
  font-weight: 300;
}

@media (min-width: 900px) {
  header{
    padding: 50px 100px;
  }
}