/* ADD TODO BUTTON */
.addtodo-btn{
  position: fixed;
  bottom: 12px;
  left: 50%;
  height: 50px;
  width: 50px;
  font-size: 24px;
  border-radius: 50%;
  border: 3px solid var(--border-button-color);
  background-color: var(--button-color);
  color: white;
  box-shadow: 0px 0px 50px -18px rgba(0,0,0,0.75);
  cursor: pointer;
  z-index: 15;
  transform: translateX(-50%) rotateZ(0deg);
  transition: transform .5s;
}

.addtodo-btn--close{
  border-color: rgb(75, 0, 0);
  background-color: rgb(150, 0, 0);
  transform: translateX(-50%) rotateZ(45deg);
}
