/* TO DO INPUT */
.todo-input-container::before{
  content: '';
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 1, 1, .63);
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.todo-input{
  position: fixed;
  width: 100vw;
  max-width: 700px;
  padding: var(--mobile-padding);
  border-radius: 4px;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
.todo-input input{
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 4px;
  margin-right: 12px;
  color: var(--light-text-color);
}
.todo-input button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}